@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}
  
@keyframes security {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    25%  {color: green;}
    100% {color: red;}
}

.heart {
    animation: heart 1000ms infinite;
    color: red;
}
  
.security {
    animation: security 1500ms infinite;
}
  
.dragon, .dragon_left  {
    color: green;
}

.dragon_left {
    transform: scaleX(-1);
}

/* Jira :material-jira: */
.jira {
    color: #115eaa; 
}